

<html>
    <head>
        <title>Team Alchemist</title>
        <link rel="stylesheet" href="home.css">
        <script src="main.js"></script>
        
    </head>

<div class="hero">
    <nav>
        
        <img src="logo new.svg" alt="" class="logo">
       
    </nav>

    <div class="lamp-container">
        <img src="https://i.postimg.cc/yYz5Nnqw/lamp.png" alt="" class="lamp">
        <img src="https://i.postimg.cc/SxgtDhXh/light.png" alt="" class="light" id="light">
    </div>

    <div class="text-container">
        <h1>AI <br> Character Recogniser</h1>
        
        <a href="main.html">Upload Here</a>
        <div class="control">       
    </div>
</div>

</html>
