<html>
    <head>
      {% load static %}
        <title>Recogniser</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <script src="{% static 'js/script.js' %}"></script>
    </head>

<h2>AI Character Recogniser</h2>
<p class="lead"><b>by Team Alchemists</b></p>

<!-- Upload  -->
<form id="file-upload-form" class="uploader" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
    <button type="submit" class="btn">Submit</button>
</form>

{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:200px">
  <br>
  <br>
  <a href="{% url 'result' %}">See result</a>
  <br>

{% endif %}

</html>